/* lattice view styles */
.center {
    text-align: center;
}

#lattice-view-output {
    margin-bottom: 20px;
}

#toolbar {
    /* Make it independent of zoom */
    height: 10%;
    line-height: 10vh;
    font-size: 5vh;
    /* Keep it above the lattice */
    z-index: 100;
}
#lattice-container {
    width: fit-content;
    margin-top:0;
    margin-bottom:30px;
}

.lattice-row {
    width: fit-content;
    margin: auto;
}

.lattice-cell {
    border: 1px solid #a2abae;
    position: relative;
    font-size: 18px;
}

.qubit-state {
    line-height: 1;
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

.lg-checkbox {
    transform: scale(1.5);
    margin-right: 5px;
}

.scroll-margin {
    scroll-margin: 58px;
}

.box-hover:hover {
    border-color: lightblue;
}