/* lattice view styles */

.lattice-card{
  border: 2px solid black;
  border-radius: 15px;
  width:200px;
  background-color:#ffdbb3 !important;
}
.center {
  text-align:center;
}

#lattice-view-output {
  /*Hacky way to make sure footer stays at the bottom when there isn't much page content*/
  /* min-height:80vh; */
  margin-bottom: 20px;
}

#toolbar{
    /* Make it independent of zoom */
  height: 10%;
  line-height: 10vh;
  font-size: 5vh;
  /* Keep it above the lattice */
  z-index: 100;
  position: relative;
  /* style */
  background-color: lavender;
  border-bottom: solid darkgrey 1.5vh;
}
#draggable-container{
  font-size: 0;
  z-index: 10;
}

.lattice-row {
  width:100%;
  margin: auto;
}

.lattice-cell{
  border: 0.5px solid #a2abae;
  /* height: fit-content; */
  min-width: 50px;
  max-width:130px;
  width: 12vw;
  /* display: inline-block; */
  position: relative;
  font-size:18px;
}

.qubit-state{
  line-height: 1;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

/* @media (mix-width:700px) {

} */